In [1]:
# import pandas as pd
# import glob
# import os

# # 1. Get a list of all CSV file paths
# path = '/content/drive/MyDrive/Agmarket/Price'
# all_files = glob.glob(os.path.join(path, "*.csv"))

# # 2. Use a list comprehension to read all files
# # We add a column 'Commodity' based on the filename for tracking
# df_list = []
# for filename in all_files:
#     df = pd.read_csv(filename)
#     # Extract filename without extension as the label
#     df['commodity_name'] = os.path.basename(filename).replace('.csv', '')
#     df_list.append(df)

# # 3. Combine everything into one DataFrame
# combined_df = pd.concat(df_list, axis=0, ignore_index=True)

# # 4. Export to a high-performance format
# combined_df.to_csv('combined_agriculture_data.csv', index=False)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **Data Collection**

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Agmarket/Price/combined_agriculture_data.csv')

In [4]:
df = pd.DataFrame(data)
df

,t,cmdty,market_id,market_name,state_id,state_name,district_id,district_name,variety,p_min,p_max,p_modal,commodity_name
0,2023-11-03,Rice,1593,Bhulath,3,Punjab,36,Kapurthala,1009 Kar,700.0,700.0,700.0,PJ_20
1,2023-10-07,Rice,1614,Ahmedgarh,3,Punjab,53,Sangrur,Other,2203.0,2203.0,2203.0,PJ_20
2,2023-10-06,Rice,1614,Ahmedgarh,3,Punjab,53,Sangrur,Other,2203.0,2203.0,2203.0,PJ_20
3,2023-10-05,Rice,1614,Ahmedgarh,3,Punjab,53,Sangrur,Other,2203.0,2203.0,2203.0,PJ_20
4,2023-07-11,Rice,1581,Zira,3,Punjab,43,Firozpur,1009 Kar,100.0,300.0,200.0,PJ_20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496799,2016-01-03,Tomato,770,Chickkaballapura,29,Karnataka,582,Chikkaballapura,Tomato,700.0,4500.0,3800.0,price_data - 2026-01-04T141759.571
2496800,2016-01-03,Tomato,120,Kolar,29,Karnataka,581,Kolar,Tomato,1000.0,4667.0,3453.0,price_data - 2026-01-04T141759.571
2496801,2016-01-03,Tomato,1767,Mulabagilu,29,Karnataka,581,Kolar,Tomato,1665.0,4665.0,3165.0,price_data - 2026-01-04T141759.571
2496802,2016-01-03,Tomato,515,Srinivasapur,29,Karnataka,581,Kolar,Tomato,1300.0,4800.0,3050.0,price_data - 2026-01-04T141759.571
2496803,2016-01-03,Tomato,771,Chintamani,29,Karnataka,581,Kolar,Tomato,2000.0,4400.0,3300.0,price_data - 2026-01-04T141759.571

In [5]:
df = df.drop(['commodity_name','market_id','state_id','district_id'], axis=1)

In [6]:
df.rename(columns={'t': 'Date','cmdty':'Commodity','market_name':'Market','state_name':'State','district_name':'District','variety':'Variety'}, inplace=True)

In [7]:
df = df.sort_values(by=['Date', 'Commodity', 'State'],ignore_index=True)

# **EDA and pre-processing**

In [8]:
# df.info()
# df.set_index('Date', inplace=True)

In [9]:
print(df['Commodity'].nunique())
print(df['Market'].nunique())
print(df['State'].nunique())

11
2477
32

In [10]:
# outliers
invalid_prices = df[
    (df['p_min'] > df['p_modal']) | (df['p_modal'] > df['p_max'])
]

len(invalid_prices)

4648

In [11]:
# Check if price is -ve (outliers again)
(df[['p_min', 'p_max', 'p_modal']] < 0).sum()

p_min      0
p_max      0
p_modal    0
dtype: int64

In [12]:
df['p_modal'].describe()

count    2.496630e+06
mean     2.675935e+03
std      3.024149e+03
min      1.000000e+00
25%      1.400000e+03
50%      1.975000e+03
75%      2.900000e+03
max      4.600000e+05
Name: p_modal, dtype: float64

In [13]:
# Check if data is balanced
df['Commodity'].value_counts().head(10)

Commodity
Tomato                  543947
Onion                   401644
Paddy(Dhan)(Common)     373082
Potato                  323748
Maize                   235419
Apple                   192984
Wheat                   141928
Rice                    124675
Jowar (Sorghum)         102086
Ragi (Finger Millet)     54032
Name: count, dtype: int64

In [14]:
df

,Date,Commodity,Market,State,District,Variety,p_min,p_max,p_modal
0,2015-12-13,Potato,Chandigarh(Grain/Fruit),Chandigarh,Chandigarh,Other,200.0,500.0,350.0
1,2015-12-13,Potato,Keshopur,NCT of Delhi,West,Potato,500.0,900.0,800.0
2,2015-12-13,Potato,Ajmer(F&V),Rajasthan,Ajmer,Other,500.0,700.0,650.0
3,2015-12-13,Potato,Alwar (F&V),Rajasthan,Alwar,Other,300.0,800.0,600.0
4,2015-12-13,Potato,Sriganganagar (F&V),Rajasthan,Ganganagar,Other,600.0,600.0,600.0
...,...,...,...,...,...,...,...,...,...
2496799,2025-10-30,Wheat,Jiaganj,West Bengal,Murshidabad,Sonalika,2600.0,2620.0,2610.0
2496800,2025-10-30,Wheat,Asansol,West Bengal,Barddhaman,Kalyan,2765.0,3050.0,2850.0
2496801,2025-10-30,Wheat,Asansol,West Bengal,Barddhaman,Kalyan,2550.0,2750.0,2600.0
2496802,2025-10-30,Wheat,Durgapur,West Bengal,Barddhaman,Kalyan,2765.0,3050.0,2850.0
2496803,2025-10-30,Wheat,Durgapur,West Bengal,Barddhaman,Kalyan,2500.0,2750.0,2650.0

In [15]:
df['Commodity'].unique()

array(['Potato', 'Wheat', 'Paddy(Dhan)(Common)', 'Rice', 'Barley (Jau)',
       'Jowar (Sorghum)', 'Maize', 'Onion', 'Ragi (Finger Millet)',
       'Apple', 'Tomato'], dtype=object)

In [16]:
# check unique for state, district, market, variety
df['State'].unique()

array(['Chandigarh', 'NCT of Delhi', 'Rajasthan', 'Tripura',
       'Uttarakhand', 'Jammu & Kashmir', 'Meghalaya', 'Haryana', 'Punjab',
       'Gujarat', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Puducherry', 'Assam', 'Bihar', 'Chhattisgarh', 'Odisha',
       'West Bengal', 'Telangana', 'Manipur', 'Maharashtra',
       'Andhra Pradesh', 'Tamil Nadu', 'Uttar Pradesh',
       'Himachal Pradesh', 'Andaman & Nicobar Islands', 'Goa', 'Nagaland',
       'Arunachal Pradesh', 'Mizoram'], dtype=object)

In [17]:
df['District'].nunique()

527

In [18]:
df.isna().sum()

Date            0
Commodity       0
Market          0
State           0
District        0
Variety         0
p_min        9970
p_max        7988
p_modal       174
dtype: int64

In [19]:
#df = df.reset_index()

In [20]:
df

,Date,Commodity,Market,State,District,Variety,p_min,p_max,p_modal
0,2015-12-13,Potato,Chandigarh(Grain/Fruit),Chandigarh,Chandigarh,Other,200.0,500.0,350.0
1,2015-12-13,Potato,Keshopur,NCT of Delhi,West,Potato,500.0,900.0,800.0
2,2015-12-13,Potato,Ajmer(F&V),Rajasthan,Ajmer,Other,500.0,700.0,650.0
3,2015-12-13,Potato,Alwar (F&V),Rajasthan,Alwar,Other,300.0,800.0,600.0
4,2015-12-13,Potato,Sriganganagar (F&V),Rajasthan,Ganganagar,Other,600.0,600.0,600.0
...,...,...,...,...,...,...,...,...,...
2496799,2025-10-30,Wheat,Jiaganj,West Bengal,Murshidabad,Sonalika,2600.0,2620.0,2610.0
2496800,2025-10-30,Wheat,Asansol,West Bengal,Barddhaman,Kalyan,2765.0,3050.0,2850.0
2496801,2025-10-30,Wheat,Asansol,West Bengal,Barddhaman,Kalyan,2550.0,2750.0,2600.0
2496802,2025-10-30,Wheat,Durgapur,West Bengal,Barddhaman,Kalyan,2765.0,3050.0,2850.0
2496803,2025-10-30,Wheat,Durgapur,West Bengal,Barddhaman,Kalyan,2500.0,2750.0,2650.0

In [21]:
def missing_dates(group):
    full_range = pd.date_range(group['Date'].min(), group['Date'].max())
    return len(full_range) - group['Date'].nunique()

missing_by_group = (
    df.groupby(['Commodity', 'Market'])
      .apply(missing_dates)
      .sort_values(ascending=False)
      .head(10)
)

missing_by_group

/tmp/ipython-input-2883483200.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(missing_dates)

Commodity            Market
Wheat                Kalagategi          3589
Potato               Mawkyrwat           3572
Rice                 Nongpoh (R-Bhoi)    3545
Jowar (Sorghum)      Manapparai          3544
Maize                Kesinga             3527
Paddy(Dhan)(Common)  Pundri              3524
Wheat                Jaspur              3520
Paddy(Dhan)(Common)  Kudchi              3519
Rice                 Ramnagar            3517
Paddy(Dhan)(Common)  Panipat             3504
dtype: int64

In [22]:
df['Date'] = pd.to_datetime(df['Date'])

In [23]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['week'] = df['Date'].dt.isocalendar().week
df['dayofweek'] = df['Date'].dt.dayofweek

In [24]:
potato = df[(df['Commodity'] == 'Tomato') & (df['year'] == 2025)]

monthly_avg = (
    potato.groupby('month')['p_modal']
    .mean()
)

monthly_avg

month
1     2050.607071
2     1944.553432
3     1464.871813
4     1616.676784
5     1673.006991
6     2291.452133
7     3131.431784
8     3931.727150
9     2494.922061
10    2552.252481
Name: p_modal, dtype: float64

In [25]:
potato_market_stats = (
    potato.groupby('State')['p_modal']
    .mean()
    .sort_values(ascending=False)
    .head(10)
)

potato_market_stats

State
Nagaland            4436.931818
Kerala              3223.187437
Tripura             3146.337918
Jammu & Kashmir     2494.063005
Himachal Pradesh    2478.468642
Tamil Nadu          2286.398699
NCT of Delhi        1828.855842
Chandigarh          1815.625000
Assam               1772.559815
Gujarat             1725.435769
Name: p_modal, dtype: float64

In [26]:
df = df.sort_values(['Commodity', 'Market', 'Date'], ignore_index = True)

In [27]:
df['price_change'] = (
    df.groupby(['Commodity', 'Market'])['p_modal']
      .diff()
)

In [28]:
df['pct_change'] = (
    df.groupby(['Commodity', 'Market'])['p_modal']
      .pct_change()
)

/tmp/ipython-input-1882561710.py:3: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  .pct_change()

In [29]:
df

,Date,Commodity,Market,State,District,Variety,p_min,p_max,p_modal,year,month,week,dayofweek,price_change,pct_change
0,2022-12-22,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2022,12,51,3,NaN,NaN
1,2022-12-24,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2022,12,51,5,0.0,0.0
2,2022-12-31,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2022,12,52,5,0.0,0.0
3,2023-01-25,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2023,1,4,2,0.0,0.0
4,2023-01-31,Apple,Aarah,Bihar,Bhojpur,Apple,6000.0,8000.0,7000.0,2023,1,5,1,2000.0,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496799,2025-04-24,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,4,17,3,0.0,0.0
2496800,2025-04-30,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,4,18,2,0.0,0.0
2496801,2025-05-03,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,5,18,5,0.0,0.0
2496802,2025-05-10,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,5,19,5,0.0,0.0
2496803,2025-05-14,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,5,20,2,0.0,0.0

In [30]:
print(df['price_change'].isna().sum())
print(df['pct_change'].isna().sum())

5130
4905

In [31]:
df['price_spike'] = df['pct_change'] > 0.15  # 15% daily spike
df['price_spike'].mean()

np.float64(0.07786994894272839)

In [32]:
final_df_for_analysis = df.copy('')
final_df_for_analysis

,Date,Commodity,Market,State,District,Variety,p_min,p_max,p_modal,year,month,week,dayofweek,price_change,pct_change,price_spike
0,2022-12-22,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2022,12,51,3,NaN,NaN,False
1,2022-12-24,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2022,12,51,5,0.0,0.0,False
2,2022-12-31,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2022,12,52,5,0.0,0.0,False
3,2023-01-25,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2023,1,4,2,0.0,0.0,False
4,2023-01-31,Apple,Aarah,Bihar,Bhojpur,Apple,6000.0,8000.0,7000.0,2023,1,5,1,2000.0,0.4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496799,2025-04-24,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,4,17,3,0.0,0.0,False
2496800,2025-04-30,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,4,18,2,0.0,0.0,False
2496801,2025-05-03,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,5,18,5,0.0,0.0,False
2496802,2025-05-10,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,5,19,5,0.0,0.0,False
2496803,2025-05-14,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,5,20,2,0.0,0.0,False

In [33]:
df['State_District_Market'] = df['State'] + '_' + df['District'] + '_' + df['Market']
df

,Date,Commodity,Market,State,District,Variety,p_min,p_max,p_modal,year,month,week,dayofweek,price_change,pct_change,price_spike,State_District_Market
0,2022-12-22,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2022,12,51,3,NaN,NaN,False,Bihar_Bhojpur_Aarah
1,2022-12-24,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2022,12,51,5,0.0,0.0,False,Bihar_Bhojpur_Aarah
2,2022-12-31,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2022,12,52,5,0.0,0.0,False,Bihar_Bhojpur_Aarah
3,2023-01-25,Apple,Aarah,Bihar,Bhojpur,Apple,4000.0,6000.0,5000.0,2023,1,4,2,0.0,0.0,False,Bihar_Bhojpur_Aarah
4,2023-01-31,Apple,Aarah,Bihar,Bhojpur,Apple,6000.0,8000.0,7000.0,2023,1,5,1,2000.0,0.4,True,Bihar_Bhojpur_Aarah
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496799,2025-04-24,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,4,17,3,0.0,0.0,False,Haryana_Sirsa_kalanwali
2496800,2025-04-30,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,4,18,2,0.0,0.0,False,Haryana_Sirsa_kalanwali
2496801,2025-05-03,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,5,18,5,0.0,0.0,False,Haryana_Sirsa_kalanwali
2496802,2025-05-10,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,5,19,5,0.0,0.0,False,Haryana_Sirsa_kalanwali
2496803,2025-05-14,Wheat,kalanwali,Haryana,Sirsa,Other,2425.0,2425.0,2425.0,2025,5,20,2,0.0,0.0,False,Haryana_Sirsa_kalanwali

# **Data Preparation**

In [34]:
deepar_df = df[['Date', 'Commodity', 'State_District_Market', 'p_modal']].copy()
deepar_df['Union'] = df['Commodity'] + "_" + df['State_District_Market']
deepar_df = deepar_df.sort_values(by=['Date', 'Union'], ignore_index=True)
deepar_df = deepar_df.drop('State_District_Market', axis = 1)
deepar_df

,Date,Commodity,p_modal,Union
0,2015-12-13,Potato,350.0,Potato_Chandigarh_Chandigarh_Chandigarh(Grain/...
1,2015-12-13,Potato,800.0,Potato_NCT of Delhi_West_Keshopur
2,2015-12-13,Potato,650.0,Potato_Rajasthan_Ajmer_Ajmer(F&V)
3,2015-12-13,Potato,600.0,Potato_Rajasthan_Alwar_Alwar (F&V)
4,2015-12-13,Potato,600.0,Potato_Rajasthan_Ganganagar_Sriganganagar (F&V)
...,...,...,...,...
2496799,2025-10-30,Wheat,2550.0,Wheat_West Bengal_Birbhum_Bolpur
2496800,2025-10-30,Wheat,2550.0,Wheat_West Bengal_Birbhum_Rampurhat
2496801,2025-10-30,Wheat,2550.0,Wheat_West Bengal_Birbhum_Sainthia
2496802,2025-10-30,Wheat,2610.0,Wheat_West Bengal_Murshidabad_Jiaganj
2496803,2025-10-30,Wheat,3200.0,Wheat_West Bengal_Nadia_Karimpur

DeepAR requires an integer time index, not datetime.
Because internally
DeepAR uses RNNs and
RNNs operate on ordered sequences, not calendar dates

In [35]:
deepar_df['time_idx'] = (
        deepar_df.groupby('Union')['Date']
          .rank(method='dense')
          .astype(int)
    )

In [36]:
deepar_df.drop(['Commodity'], axis=1, inplace=True)

In [37]:
deepar_df = deepar_df.dropna(subset=["p_modal"])

In [38]:
deepar_test = deepar_df[deepar_df["Date"] >= "2023-01-01"].copy()
deepar_train = deepar_df[deepar_df["Date"] < "2023-01-01"].copy() #same data for train and val

In [39]:
deepar_test.drop(['Date'], axis=1, inplace=True)
deepar_train.drop(['Date'], axis=1, inplace=True)

In [40]:
deepar_train

         p_modal                                              Union  time_idx
0          350.0  Potato_Chandigarh_Chandigarh_Chandigarh(Grain/...         1
1          800.0                  Potato_NCT of Delhi_West_Keshopur         1
2          650.0                  Potato_Rajasthan_Ajmer_Ajmer(F&V)         1
3          600.0                 Potato_Rajasthan_Alwar_Alwar (F&V)         1
4          600.0    Potato_Rajasthan_Ganganagar_Sriganganagar (F&V)         1
...          ...                                                ...       ...
1554545   2450.0               Wheat_West Bengal_Barddhaman_Asansol      1900
1554546   2360.0              Wheat_West Bengal_Barddhaman_Durgapur      2024
1554547   2150.0              Wheat_West Bengal_Barddhaman_Durgapur      2024
1554548   2080.0                   Wheat_West Bengal_Nadia_Karimpur       439
1554549   2750.0           Wheat_West Bengal_Uttar Dinajpur_Raiganj      1609

[1554376 rows x 3 columns]

# **DeepAR**

In [41]:
!pip install --no-cache-dir -v lightning pytorch-forecasting

Using pip 24.1.2 from /usr/local/lib/python3.12/dist-packages/pip (python 3.12)
Collecting lightning
  Obtaining dependency information for lightning from https://files.pythonhosted.org/packages/d6/e9/36b340c7ec01dad6f034481e98fc9fc0133307beb05c714c0542af98bbde/lightning-2.6.0-py3-none-any.whl.metadata
  Downloading lightning-2.6.0-py3-none-any.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.9/44.9 kB 130.0 MB/s eta 0:00:00
  Link requires a different Python (3.12.12 not in: '>=3.8,<3.11'): https://files.pythonhosted.org/packages/28/9f/0ae16cc808f9b8bf6d4e6df3d32791ff37ef45e46fc72981e9ea5200b866/pytorch_forecasting-0.10.2-py3-none-any.whl (from https://pypi.org/simple/pytorch-forecasting/) (requires-python:>=3.8,<3.11)
  Link requires a different Python (3.12.12 not in: '>=3.8,<3.11'): https://files.pythonhosted.org/packages/5a/e6/a8c342e299abe24ff47df0ad4f809c5dd8057f4775691b6334e6972818c3/pytorch_forecasting-0.10.2.tar.gz (from https://pypi.org/simple/pytorch-forecasting/) (requires-python:>=3.8,<3.11)
  Link requires a different Python (3.12.12 not in: '>=3.8,<3.11'): https://files.pythonhosted.org/packages/2e/cc/205471cb3ca99c3e24d0cc29f1c8a5d23a0b06a8d94a7cac9cad69954acf/pytorch_forecasting-0.10.3-py3-none-any.whl (from https://pypi.org/simple/pytorch-forecasting/) (requires-python:>=3.8,<3.11)
  Link requires a different Python (3.12.12 not in: '>=3.8,<3.11'): https://files.pythonhosted.org/packages/02/f0/92eb7e55f665de688120590bcee95b6704f8c6c07ae07d1255ecf734997e/pytorch_forecasting-0.10.3.tar.gz (from https://pypi.org/simple/pytorch-forecasting/) (requires-python:>=3.8,<3.11)
  Link requires a different Python (3.12.12 not in: '>=3.8,<3.11'): https://files.pythonhosted.org/packages/db/fd/942ff8da475e1372d4c6685d01ee43306a709c1b12fa03ec6238a9f6acb4/pytorch_forecasting-1.0.0-py3-none-any.whl (from https://pypi.org/simple/pytorch-forecasting/) (requires-python:>=3.8,<3.11)
  Link requires a different Python (3.12.12 not in: '>=3.8,<3.11'): https://files.pythonhosted.org/packages/02/7b/c931802d961f0818dd8da74003fb98b0e1102bfe56a05eff01966596280a/pytorch_forecasting-1.0.0.tar.gz (from https://pypi.org/simple/pytorch-forecasting/) (requires-python:>=3.8,<3.11)
Collecting pytorch-forecasting
  Obtaining dependency information for pytorch-forecasting from https://files.pythonhosted.org/packages/f7/cb/f0b69354596ace50935df3967dcd52a09c587f299d373d8e3e13f790996d/pytorch_forecasting-1.6.0-py3-none-any.whl.metadata
  Downloading pytorch_forecasting-1.6.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: PyYAML<8.0,>5.4 in /usr/local/lib/python3.12/dist-packages (from lightning) (6.0.3)
Requirement already satisfied: fsspec<2027.0,>=2022.5.0 in /usr/local/lib/python3.12/dist-packages (from fsspec[http]<2027.0,>=2022.5.0->lightning) (2025.3.0)
Collecting lightning-utilities<2.0,>=0.10.0 (from lightning)
  Obtaining dependency information for lightning-utilities<2.0,>=0.10.0 from https://files.pythonhosted.org/packages/de/73/3d757cb3fc16f0f9794dd289bcd0c4a031d9cf54d8137d6b984b2d02edf3/lightning_utilities-0.15.2-py3-none-any.whl.metadata
  Downloading lightning_utilities-0.15.2-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: packaging<27.0,>=20.0 in /usr/local/lib/python3.12/dist-packages (from lightning) (25.0)
Requirement already satisfied: torch<4.0,>=2.1.0 in /usr/local/lib/python3.12/dist-packages (from lightning) (2.9.0+cu126)
Collecting torchmetrics<3.0,>0.7.0 (from lightning)
  Obtaining dependency information for torchmetrics<3.0,>0.7.0 from https://files.pythonhosted.org/packages/02/21/aa0f434434c48490f91b65962b1ce863fdcce63febc166ca9fe9d706c2b6/torchmetrics-1.8.2-py3-none-any.whl.metadata
  Downloading torchmetrics-1.8.2-py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tqdm<6.0,>=4.57.0 in /usr/local/lib/python3.12/dist-packages (from lightning) (4.67.1)
Requirement already satisfied: typing-extensions<6.0,>4.5.0 in /usr/local/lib/python3.12/dist-packages (from lightning) (4.15.0)
Collecting pytorch-lightning (from lightning)
  Obtaining dependency information for pytorch-lightning from https://files.pythonhosted.org/packages/77/eb/cc6dbfe70d15318dbce82674b1e8057cef2634ca9f9121a16b8a06c630db/pytorch_lightning-2.6.0-py3-none-any.whl.metadata
  Downloading pytorch_lightning-2.6.0-py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: numpy<=3.0.0 in /usr/local/lib/python3.12/dist-packages (from pytorch-forecasting) (2.0.2)
Requirement already satisfied: scipy<2.0,>=1.8 in /usr/local/lib/python3.12/dist-packages (from pytorch-forecasting) (1.16.3)
Requirement already satisfied: pandas<3.0.0,>=1.3.0 in /usr/local/lib/python3.12/dist-packages (from pytorch-forecasting) (2.2.2)
Requirement already satisfied: scikit-learn<2.0,>=1.2 in /usr/local/lib/python3.12/dist-packages (from pytorch-forecasting) (1.6.1)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/5a/90/b522044f0389ae467ba2a0470b52c079dd57bcbc813d54fb1cce590ae4da/scikit-base-0.3.0.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/66/d9/66f6a703a2d62a0a6dfe415eefafb1ff5b1c1524e0004d4e43d4427dd1bb/scikit_base-0.3.0-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/0a/59/8cbd3f12cc8d5444957f5cb2d5dd899a9d10d60394a8a552c103eda87f90/scikit-base-0.4.0.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/af/1a/c53b5cb40964a70c684ab5eb0989a33b4254d15742c98ac18cfa016d9e1c/scikit_base-0.4.0-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/aa/5a/867101f4f81fa08596be48ec01cac6b88bf12d4101c53ad9a18ac07595d1/scikit-base-0.4.1.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/e8/a1/cf4dfe44ef0671362e11ea5b431b3739ae0fdc79f371249453e1be5448f2/scikit_base-0.4.1-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/c9/ee/7356ed1e0d3aa7960b44840316bc577986db273828917d41e3cecf2a7ca8/scikit-base-0.4.2.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/07/2b/5f92e7e27dc53a01746be8b7db428323a0904626867b046cc9f121885daa/scikit_base-0.4.2-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/bd/30/3e2bfb1df7a0cb192c214fb0644a2ad746344b0ae076c2f0986edf86c4bb/scikit-base-0.4.3.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/0c/ad/9a791d03501367546f85d8b375a07a378aa99a36da1533c75be2414dbe76/scikit_base-0.4.3-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/c5/d5/815814bbe79680ddc8ba27871eeadaa550e1a0d705b9517e45fe203fc912/scikit-base-0.4.4.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/3f/fe/8c928658842d3cef9ca02247a3bfdbbcfef6b4431c343f2030bfa03c5f86/scikit_base-0.4.4-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/72/f5/1471787abf7a5950294488e3f4051fa66b3a089f586dffea3fe1e53fa51a/scikit-base-0.4.5.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/b8/c4/19c98e9af7bc0c92c321ee7adc6884e9b5fba991f4bf443d44370029cdc5/scikit_base-0.4.5-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/6d/f8/53c99b013390a38d920de7163c8ae2a4899584c2f82deb9c725fdf8d20df/scikit-base-0.4.6.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.7'): https://files.pythonhosted.org/packages/e8/3b/1284801270257e521230154d40a3354773f3567db87b61f2614085785e8b/scikit_base-0.4.6-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.7)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.8'): https://files.pythonhosted.org/packages/70/87/ccf721917966656d8725ae1fa2e5c16045d35697b1d1976baa80b49b7e38/scikit-base-0.5.0.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.8)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.8'): https://files.pythonhosted.org/packages/4a/eb/3f960b4acbe550295e0a725314c8b0bec5287ea182e01d558287e3e85782/scikit_base-0.5.0-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.8)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.8'): https://files.pythonhosted.org/packages/06/72/431c3ce9531a821ca90b7aee9ca5d722c882e3e0f5484c5b372bcb162433/scikit-base-0.5.1.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.8)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.8'): https://files.pythonhosted.org/packages/16/fe/57ecb5cdc28995dacebe785381341a8265acb4c32ccb07327dbfbddd5b4a/scikit_base-0.5.1-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.8)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.8'): https://files.pythonhosted.org/packages/bf/1f/d83885afe352876a042162ba7ef884425400d0eb95193afe3dde3a5be40e/scikit-base-0.5.2.tar.gz (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.8)
  Link requires a different Python (3.12.12 not in: '<3.12,>=3.8'): https://files.pythonhosted.org/packages/e1/05/c42d5834896d0c112e76bb5b1ff0532e06cda405ae3154be5593a4aa8f37/scikit_base-0.5.2-py3-none-any.whl (from https://pypi.org/simple/scikit-base/) (requires-python:<3.12,>=3.8)
Collecting scikit-base<0.14.0 (from pytorch-forecasting)
  Obtaining dependency information for scikit-base<0.14.0 from https://files.pythonhosted.org/packages/94/1c/7c00d3823bef4ef2e5a95507475bc5cf3bdabf00c8577f8bb5ff406e9f2e/scikit_base-0.13.0-py3-none-any.whl.metadata
  Downloading scikit_base-0.13.0-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.12/dist-packages (from fsspec[http]<2027.0,>=2022.5.0->lightning) (3.13.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from lightning-utilities<2.0,>=0.10.0->lightning) (75.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas<3.0.0,>=1.3.0->pytorch-forecasting) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<3.0.0,>=1.3.0->pytorch-forecasting) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<3.0.0,>=1.3.0->pytorch-forecasting) (2025.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn<2.0,>=1.2->pytorch-forecasting) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn<2.0,>=1.2->pytorch-forecasting) (3.6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (3.20.2)
Requirement already satisfied: sympy>=1.13.3 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (1.14.0)
Requirement already satisfied: networkx>=2.5.1 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (3.6.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (3.1.6)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.6.77 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (12.6.77)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.6.77 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (12.6.77)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.6.80 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (12.6.80)
Requirement already satisfied: nvidia-cudnn-cu12==9.10.2.21 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (9.10.2.21)
Requirement already satisfied: nvidia-cublas-cu12==12.6.4.1 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (12.6.4.1)
Requirement already satisfied: nvidia-cufft-cu12==11.3.0.4 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (11.3.0.4)
Requirement already satisfied: nvidia-curand-cu12==10.3.7.77 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (10.3.7.77)
Requirement already satisfied: nvidia-cusolver-cu12==11.7.1.2 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (11.7.1.2)
Requirement already satisfied: nvidia-cusparse-cu12==12.5.4.2 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (12.5.4.2)
Requirement already satisfied: nvidia-cusparselt-cu12==0.7.1 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (0.7.1)
Requirement already satisfied: nvidia-nccl-cu12==2.27.5 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (2.27.5)
Requirement already satisfied: nvidia-nvshmem-cu12==3.3.20 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (3.3.20)
Requirement already satisfied: nvidia-nvtx-cu12==12.6.77 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (12.6.77)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.6.85 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (12.6.85)
Requirement already satisfied: nvidia-cufile-cu12==1.11.1.6 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (1.11.1.6)
Requirement already satisfied: triton==3.5.0 in /usr/local/lib/python3.12/dist-packages (from torch<4.0,>=2.1.0->lightning) (3.5.0)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2027.0,>=2022.5.0->lightning) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2027.0,>=2022.5.0->lightning) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2027.0,>=2022.5.0->lightning) (25.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2027.0,>=2022.5.0->lightning) (1.8.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2027.0,>=2022.5.0->lightning) (6.7.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2027.0,>=2022.5.0->lightning) (0.4.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2027.0,>=2022.5.0->lightning) (1.22.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=1.3.0->pytorch-forecasting) (1.17.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from sympy>=1.13.3->torch<4.0,>=2.1.0->lightning) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->torch<4.0,>=2.1.0->lightning) (3.0.3)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.12/dist-packages (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2027.0,>=2022.5.0->lightning) (3.11)
Downloading lightning-2.6.0-py3-none-any.whl (845 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 846.0/846.0 kB 258.0 MB/s eta 0:00:00
Downloading pytorch_forecasting-1.6.0-py3-none-any.whl (399 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 399.1/399.1 kB 243.3 MB/s eta 0:00:00
Downloading lightning_utilities-0.15.2-py3-none-any.whl (29 kB)
Downloading scikit_base-0.13.0-py3-none-any.whl (151 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 151.5/151.5 kB 238.7 MB/s eta 0:00:00
Downloading torchmetrics-1.8.2-py3-none-any.whl (983 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 983.2/983.2 kB 272.1 MB/s eta 0:00:00
Downloading pytorch_lightning-2.6.0-py3-none-any.whl (849 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 849.5/849.5 kB 280.1 MB/s eta 0:00:00
Installing collected packages: scikit-base, lightning-utilities, torchmetrics, pytorch-lightning, lightning, pytorch-forecasting
  changing mode of /usr/local/bin/fabric to 755
Successfully installed lightning-2.6.0 lightning-utilities-0.15.2 pytorch-forecasting-1.6.0 pytorch-lightning-2.6.0 scikit-base-0.13.0 torchmetrics-1.8.2

In [42]:
!pip uninstall pytorch-lightning

Found existing installation: pytorch-lightning 2.6.0
Uninstalling pytorch-lightning-2.6.0:
  Would remove:
    /usr/local/lib/python3.12/dist-packages/lightning_fabric/*
    /usr/local/lib/python3.12/dist-packages/pytorch_lightning-2.6.0.dist-info/*
    /usr/local/lib/python3.12/dist-packages/pytorch_lightning/*
Proceed (Y/n)? Y
  Successfully uninstalled pytorch-lightning-2.6.0

In [43]:
!pip show lightning
!pip show pytorch-forecasting

Name: lightning
Version: 2.6.0
Summary: The Deep Learning framework to train, deploy, and ship AI products Lightning fast.
Home-page: https://github.com/Lightning-AI/lightning
Author: Lightning AI et al.
Author-email: developer@lightning.ai
License: Apache-2.0
Location: /usr/local/lib/python3.12/dist-packages
Requires: fsspec, lightning-utilities, packaging, pytorch-lightning, PyYAML, torch, torchmetrics, tqdm, typing-extensions
Required-by: pytorch-forecasting
Name: pytorch-forecasting
Version: 1.6.0
Summary: Forecasting timeseries with PyTorch - dataloaders, normalizers, metrics and models
Home-page:
Author: Jan Beitner
Author-email:
License:
Location: /usr/local/lib/python3.12/dist-packages
Requires: lightning, numpy, pandas, scikit-base, scikit-learn, scipy, torch
Required-by:

In [44]:
import pandas as pd
import torch
import lightning as pl
from pytorch_forecasting import DeepAR
from pytorch_forecasting.data import (TimeSeriesDataSet,GroupNormalizer)
from pytorch_forecasting.metrics import NormalDistributionLoss

In [45]:
# deepar_train = deepar_df[deepar_df['Date'] < '2022-01-01'].copy()
# deepar_val = deepar_df[(deepar_df['Date'] >= '2022-01-01') & (deepar_df['Date'] < '2023-01-01')].copy()
# deepar_test = deepar_df[deepar_df['Date'] >= '2023-01-01'].copy()

Why shorter encoder is BETTER for agri price data
> Reason 1 — Local dynamics dominate
Short-term price movement is driven by Recent supply, demand  
Not by
Prices from 2 years ago  
So the last 10–14 observations are far more predictive than the last 30–60.

> Reason 2 — Long histories introduce noise

In [46]:
max_prediction_length = 7
max_encoder_length = 14

In [47]:
training_cut_off = deepar_train['time_idx'].max() - max_prediction_length

In [48]:
training = TimeSeriesDataSet(
    deepar_train[deepar_train.time_idx <= training_cut_off],
    time_idx="time_idx",
    target="p_modal",
    group_ids=["Union"],
    max_encoder_length=max_encoder_length,
    max_prediction_length=max_prediction_length,
    time_varying_unknown_reals=["p_modal"],
    target_normalizer=GroupNormalizer(groups=["Union"]), #normalize y
    allow_missing_timesteps=True
)

/usr/local/lib/python3.12/dist-packages/pytorch_forecasting/data/timeseries/_timeseries.py:1847: UserWarning: Min encoder length and/or min_prediction_idx and/or min prediction length and/or lags are too large for 1037 series/groups which therefore are not present in the dataset index. This means no predictions can be made for those series. First 10 removed groups: [{'__group_id__Union': 'Apple_Andaman & Nicobar Islands_North  & Middle Andaman_Diglipur'}, {'__group_id__Union': 'Apple_Andaman & Nicobar Islands_South Andaman_Port Blair'}, {'__group_id__Union': 'Apple_Assam_Barpeta_Howly'}, {'__group_id__Union': 'Apple_Assam_Dhemaji_Silapathar'}, {'__group_id__Union': 'Apple_Bihar_Araria_Arreria'}, {'__group_id__Union': 'Apple_Bihar_Bhagalpur_Bhagalpur'}, {'__group_id__Union': 'Apple_Bihar_Bhojpur_Aarah'}, {'__group_id__Union': 'Apple_Bihar_Buxar_Brahmpur'}, {'__group_id__Union': 'Apple_Bihar_Buxar_Buxur'}, {'__group_id__Union': 'Apple_Bihar_Darbhanga_Bahadurpur (Ekmi Ghat)'}]
  warnings.warn(

In [49]:
validation = TimeSeriesDataSet.from_dataset(
    training,  #inherit all imp parameters like 'groupby', 'max_enco','max_pred', etc., from training set
    deepar_train,
    predict=True, #this says that the set is for prediction (therefore validation set)
    stop_randomization=True
    #stop randomization of enc and deco len within specified min,max_enc_len and min,max_pred_len ranges cuz you want a consistent and reproducible benchmark.
    # this is false in training cuz it exposes the model to a wider variety of i/p sequence len and pred horizons during training, making it more robust and less prone to overfitting to specific sequence len.
)

/usr/local/lib/python3.12/dist-packages/pytorch_forecasting/data/timeseries/_timeseries.py:1847: UserWarning: Min encoder length and/or min_prediction_idx and/or min prediction length and/or lags are too large for 1038 series/groups which therefore are not present in the dataset index. This means no predictions can be made for those series. First 10 removed groups: [{'__group_id__Union': 'Apple_Andaman & Nicobar Islands_North  & Middle Andaman_Diglipur'}, {'__group_id__Union': 'Apple_Andaman & Nicobar Islands_South Andaman_Port Blair'}, {'__group_id__Union': 'Apple_Assam_Barpeta_Howly'}, {'__group_id__Union': 'Apple_Assam_Dhemaji_Silapathar'}, {'__group_id__Union': 'Apple_Bihar_Araria_Arreria'}, {'__group_id__Union': 'Apple_Bihar_Bhagalpur_Bhagalpur'}, {'__group_id__Union': 'Apple_Bihar_Bhojpur_Aarah'}, {'__group_id__Union': 'Apple_Bihar_Buxar_Brahmpur'}, {'__group_id__Union': 'Apple_Bihar_Buxar_Buxur'}, {'__group_id__Union': 'Apple_Bihar_Darbhanga_Bahadurpur (Ekmi Ghat)'}]
  warnings.warn(

In [50]:
# Data Loader
batch_size = 64
train_loader = training.to_dataloader(
    train=True, # Randomly samples forecast windows and shuffles them (shuffles windows not time order) which improves generalization
    batch_size=batch_size,
    num_workers=2
)

val_loader = validation.to_dataloader(
    train=False, # No randomization. No gradient updates
    batch_size=batch_size,
    num_workers=2
)

In [51]:
#model definition
model = DeepAR.from_dataset(
    training,
    learning_rate=1e-3, #DeepAR uses Adam optimizer. Adam is stable in the range: 1e-4 to 1e-3
    hidden_size=64,
    rnn_layers=2, # layer1 - short term, layer2 - mideium term
    # 3 is overkill, 1 leads to overfit
    dropout=0.1,
    loss=NormalDistributionLoss(),
    # DeepAR models a probability distribution, not quantiles directly — therefore it must be trained with a distribution-based loss.
)

/usr/local/lib/python3.12/dist-packages/lightning/pytorch/utilities/parsing.py:210: Attribute 'loss' is an instance of `nn.Module` and is already saved during checkpointing. It is recommended to ignore them using `self.save_hyperparameters(ignore=['loss'])`.
/usr/local/lib/python3.12/dist-packages/lightning/pytorch/utilities/parsing.py:210: Attribute 'logging_metrics' is an instance of `nn.Module` and is already saved during checkpointing. It is recommended to ignore them using `self.save_hyperparameters(ignore=['logging_metrics'])`.

In [ ]:
# train
trainer = pl.Trainer(
    max_epochs=20,
    accelerator="auto",
    gradient_clip_val=0.1, # to prevent exploding gradients during training
    enable_model_summary=True
)

trainer.fit(
    model,
    train_dataloaders=train_loader,
    val_dataloaders=val_loader
)

INFO: 💡 Tip: For seamless cloud uploads and versioning, try installing [litmodels](https://pypi.org/project/litmodels/) to enable LitModelCheckpoint, which syncs automatically with the Lightning model registry.
INFO:lightning.pytorch.utilities.rank_zero:💡 Tip: For seamless cloud uploads and versioning, try installing [litmodels](https://pypi.org/project/litmodels/) to enable LitModelCheckpoint, which syncs automatically with the Lightning model registry.
INFO: GPU available: True (cuda), used: True
INFO:lightning.pytorch.utilities.rank_zero:GPU available: True (cuda), used: True
INFO: TPU available: False, using: 0 TPU cores
INFO:lightning.pytorch.utilities.rank_zero:TPU available: False, using: 0 TPU cores
INFO: LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0]
INFO:lightning.pytorch.accelerators.cuda:LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0]

┏━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━━┓
┃   ┃ Name                   ┃ Type                   ┃ Params ┃ Mode  ┃ FLOPs ┃
┡━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━━┩
│ 0 │ loss                   │ NormalDistributionLoss │      0 │ train │     0 │
│ 1 │ logging_metrics        │ ModuleList             │      0 │ train │     0 │
│ 2 │ embeddings             │ MultiEmbedding         │      0 │ train │     0 │
│ 3 │ rnn                    │ LSTM                   │ 50.4 K │ train │     0 │
│ 4 │ distribution_projector │ Linear                 │    130 │ train │     0 │
└───┴────────────────────────┴────────────────────────┴────────┴───────┴───────┘

Trainable params: 50.6 K
Non-trainable params: 0
Total params: 50.6 K
Total estimated model params size (MB): 0
Modules in train mode: 11
Modules in eval mode: 0
Total FLOPs: 0

Output()

In [ ]:
# test_dataset = TimeSeriesDataSet.from_dataset(
#     training,
#     deepar_test,
#     predict=True,
#     stop_randomization=True
# )

In [ ]:
!pip list | grep -E "lightning|forecasting"

In [ ]:
import pytorch_forecasting
from pytorch_forecasting import DeepAR

import inspect

print(pytorch_forecasting.__version__)
print(inspect.getmodule(DeepAR))

In [ ]:
import lightning.pytorch as pl
from pytorch_forecasting import DeepAR
from pytorch_forecasting.metrics import NormalDistributionLoss

model = DeepAR.from_dataset(
    training,
    learning_rate=1e-3,
    hidden_size=64,
    rnn_layers=2,
    dropout=0.1,
    loss=NormalDistributionLoss(),
)

print(type(model))
print(pl.LightningModule)
print(isinstance(model, pl.LightningModule))